<ion-view view-title="Home" class="homebg">


  <ion-content padding="false" >

    <div class="imgfull">
      <img src="img/Notebook.png" alt="">
    </div>

    <div class="row padding">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">
            <h3>The Green Body Love Journal!</h3>
            <p>Tap a category below to add an entry.</p>
          </div>
        </div>


        <div class="list">

          <ion-item class="item bottom-padding item-thumbnail-left item-icon-right " ng-repeat="(category, item) in vm.categories" href="#/tab/home/{{category}}">
            <img ng-src="img/{{item.photo}}">
            
            
            <h2>{{item.name}}</h2>
            <p>{{item.description}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>

        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
